[Desktop Entry]
Encoding=UTF-8
Name=Bookmarks Manager
Comment=Bash Bookmarks Manager
Exec=/home/artbit/Documents/bookmarks/bookmarks-url-handler %U
Terminal=true
Type=Application
Icon=/usr/src/vim/runtime/vim48x48.xpm
Categories=Application;Utility;TextEditor;
MimeType=text/plain;x-scheme-handler/bookmark;
StartupNotify=true
StartupWMClass=Bookmark
