[Desktop Entry]
Version=1.0
Type=Application
Name=Bookmarks Manager
Comment=Bash Bookmarks Manager
Exec=/home/artbit/Documents/bookmarks/bookmarks-uri-handler %u
Terminal=false
Icon=/usr/src/vim/runtime/vim48x48.xpm
Categories=Application;Network;
MimeType=x-scheme-handler/bookmarks;
StartupNotify=true
StartupWMClass=Bookmarks
